ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: none;
    padding: 0;
}

li {
    background: lightgoldenrodyellow;
    border: 1px solid #424242;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}